<h1 class="text-2xl">Zaloguj</h1><br>
{{info}}
<form hx-post="/post/login" hx-target="main" hx-trigger="submit" method="POST">
    <label for="username">Nazwa Uzytkownika</label>
    <input type="text" name="username" placeholder="Uzytkownik" required><br>

    <label for="password">Haslo</label>
    <input type="password" name="password" placeholder="Haslo"><br>

    <input type="submit" value="Zaloguj" class="float-left">
    <p class="float-left mt-5 ml-5 text-stone-400 hover:cursor-pointer"
        hx-get="/change-pass" hx-target="main" hx-swap="transition:true">
        Zmien haslo
    </p>
</form>
