<nav>
    <a hx-get="/content/index"
       hx-push-url="/"
       hx-swap="transition:true"
       hx-target="main">
        Strona glowna
    </a>
    <a hx-get="/content/shopping-cart"
       hx-push-url="/shopping-cart"
       hx-swap="transition:true"
       hx-target="main">
       Koszyk
    </a>
    <a hx-get="/content/profile"
       hx-push-url="/profile"
       hx-swap="transition:true"
       hx-target="main">
       Profil
    </a>
    <a hx-get="/logout"
       hx-push-url="/logout"
       hx-swap="transition:true"
       hx-target="main">
        Wyloguj
    </a>
</nav>
